
<div class="container bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row gy-2 py-4 my-2 overflow-auto" style="height: 250px">
    <div class="col-md-12 text-center"><h2>Invoice header</h2></div>
    <div class="row row-cols-sm-2 row-cols-md-6 gx-2 gy-1 py-2">
        <div class="">
            <label for="Code_product" class="form-label">Code product</label>
            <input type="number" class="form-control" name="Code product" id="Code product" placeholder="Enter Code">
        </div>
        <div class="">
            <label for="Name_product" class="form-label">Name product</label>
            <input type="number" class="form-control" name="Name_product" id="Name_product" placeholder="Enter name">
        </div>
        <div class="">
            <label for="Acount" class="form-label">Acount</label>
            <input type="number" class="form-control" name="Acount" readonly  id="Acount" placeholder="Enter acount">
        </div>
        <div class="">
            <label for="Unit_value" class="form-label">Unit value</label>
            <input type="number" class="form-control" name="Unit_value" id="Unit_value" placeholder="Enter value">
        </div>
        <div class="">
            <button type="button" class="btn btn-success w-100 h-100">+</button>
        </div>
        <div class="">
            <button type="button" class="btn btn-danger w-100 h-100">-</button>
        </div>
    </div>


    <div class="row row-cols-sm-2 row-cols-md-6 g-2 py-2">
        <div class="">
            <label for="Code_product" class="form-label">Code product</label>
            <input type="number" class="form-control" name="Code product" id="Code product" placeholder="Enter Code">
        </div>
        <div class="">
            <label for="Name_product" class="form-label">Name product</label>
            <input type="number" class="form-control" name="Name_product" id="Name_product" placeholder="Enter name">
        </div>
        <div class="">
            <label for="Acount" class="form-label">Acount</label>
            <input type="number" class="form-control" name="Acount"  readonly id="Acount" placeholder="Enter acount">
        </div>
        <div class="">
            <label for="Unit_value" class="form-label">Unit value</label>
            <input type="number" class="form-control" name="Unit_value" id="Unit_value" placeholder="Enter value">
        </div>
        <div class="">
            <button type="button" class="btn btn-lg btn-success w-100 h-100">+</button>
        </div>
        <div class="">
            <button type="button" class="btn btn-lg btn-danger w-100 h-100">-</button>
        </div>
    </div>
</div>
</div>