
<div class="container bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div id="products" class="row gy-2 py-4 my-2 overflow-auto" style="height: 250px">
    <div class="col-md-12 text-center"><h2>Invoice header</h2></div>
    <my-productdetails></my-productdetails>

</div>
</div>
<div class="container">
    <div class="row row-cols-sm-3 mt-3">
        <div>
            <button type="button" id="add" class="btn w-100 btn-warning">Add Invoice (+)</button>
        </div>
        <div>
            <button type="button" id="send" class="btn w-100 btn-info">send</button>
        </div>
        <div>
            <button type="button"  class="btn w-100 btn-dark">Dark</button>
        </div>
    </div>
</div>